<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>About - Lidong's site</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/style/index.css" />
<link rel="stylesheet" type="text/css" href="/static/style/common.css" />
<!--[if IE]>
<script type="text/javascript" src="/static/js/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="/static/js/DD_belatedPNG.js"></script>
<script type="text/javascript" >
    DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</head>
<body>
    <div class="wrapper">
        {% include "header.html" %}
        <div class="about">
        <div id="map"></div>
        <section class="contact">
            <div class="contact-title">CONTACT</div>
            <p>
                Email：lidongbest5@gmail.com<br/>
                QQ：357586858
            </p>
        </section>
        </div>
    </div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/index.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
<script type="text/javascript">
    var map = new BMap.Map("map");        
    var point = new BMap.Point(116.459084, 39.918805);    
    map.centerAndZoom(point,15);                    
    map.enableScrollWheelZoom();                          
    
    map.addControl(new BMap.NavigationControl());  
    map.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}));  
    map.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT, type: BMAP_NAVIGATION_CONTROL_PAN}));  
    map.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT, type: BMAP_NAVIGATION_CONTROL_ZOOM}));  

    var marker = new BMap.Marker(point);  
    map.addOverlay(marker);              
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); 

    var label = new BMap.Label("My location",{offset:new BMap.Size(20,-30)});
    marker.setLabel(label);
</script>
{% include 'tongji.html' %}
</body>
</html>



