<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lidong's site - go for it</title>
<link rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style/index.css" />
<link rel="stylesheet" type="text/css" href="/static/style/common.css" />
<!--[if IE]>
<script type="text/javascript" src="/static/js/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="/static/js/DD_belatedPNG.js"></script>
<script type="text/javascript" >
    DD_belatedPNG.fix('.png');
</script>
<![endif]-->
<script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>
</head>
<body>
	<div class="wrapper">
		<header class="header clearfix">
			<section class="logo">
				<a href="http://lidongbest5.com">
					<img src="/static/images/logo.png" alt="logo" title="lidongbest5">
				</a>
				<span>Go for it and never say die!</span>
			</section>
			<section class="search">
			    <form class="search-form" action="http://lidongbest5.com" method="get">
			        <input class="search-box" name="s" type="text" placeholder="Find something...">
			        <input class="search-submit" type="submit" name="submit">
			    </form>
			</section>
		</header>
		<nav class="navigator">
			<a class="current" href="http://www.lidongbest5.com/"><span>HOME</span></a>
			<a href="http://www.lidongbest5.com/blog"><span>BLOG</span></a>
			<a href="http://www.lidongbest5.com/saying"><span>SAYING</span></a>
			<a href="http://www.lidongbest5.com/projects"><span>PROJECTS</span></a>
			<a href="http://www.lidongbest5.com/resume"><span>RESUME</span></a>
			<a href="http://www.lidongbest5.com/about"><span>ABOUT</span></a>
		</nav>
		{% block content %}{% endblock %}
	</div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/index.js"></script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3ef3e127711bcd455a957fe5276a7dfd' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
