<div class="content-aside">
    <aside class="aside-category">
        <h4>Categories</h4>
        <ul>
            <li><a href="http://lidongbest5.com/blog/category/Javascript">Javascript</a></li>
            <li><a href="http://lidongbest5.com/blog/category/HTML&CSS">HTML&CSS</a></li>
            <li><a href="http://lidongbest5.com/blog/category/Django">Django</a></li>
            <li><a href="http://lidongbest5.com/blog/category/CentOS">CentOS</a></li>
            <li><a href="http://lidongbest5.com/blog/category/VPS">VPS</a></li>

            <li><a href="http://lidongbest5.com/blog/category/Others">Others</a></li>
        </ul>
    </aside>
    <aside class="aside-archive">
        <h4>Archive</h4>
        <ul>
            <li><a href="http://lidongbest5.com/blog/2012/12">December 2012</a>({{ archive.0 }})</li>
	    <li><a href="http://lidongbest5.com/blog/2013/01">January 2013</a>({{ archive.1 }})</li>
	    <li><a href="http://lidongbest5.com/blog/2013/03">March 2013</a>({{ archive.2 }})</li>
        </ul>
    </aside>
</div>


