<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ data.title }} - Lidong's site</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/style/index.css" />
<link rel="stylesheet" type="text/css" href="/static/style/common.css" />
<!--[if IE]>
<script type="text/javascript" src="/static/js/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="/static/js/DD_belatedPNG.js"></script>
<script type="text/javascript" >
    DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</head>
<body>
    <div class="wrapper">
        {% include "header.html" %}
        <section class="title">
            <h1>{{ data.title }}</h1>
        </section>
        <section class="content clearfix">
            <div class="content-opt">
                <div class="content-category">{{ data.category }}</div>
                <div class="content-date">{{ data.date|date:"M d Y" }}</div>
            </div>
            <div class="content-detail">
               <div class="content-text"> <p>{{ data.content|safe }}</p></div>
               <div class="content-footer">
                   {% if preBlog != '' %}
                      <p><b>Previous:</b> <a href="http://lidongbest5.com/blog/{{ preBlog.id }}" title="上一篇">{{ preBlog.title }}</a></p>
                   {% endif %}
                   {% if nextBlog != '' %}
                      <p> <b>Next:</b> <a href="http://lidongbest5.com/blog/{{ nextBlog.id }}" title="下一篇">{{ nextBlog.title }}</a></p>
                   {% endif %}
                </div>
                <div class="content-comment">
 		    {% if comments|length != 0 %} 
 		    <section class="comment-box"> 
 		        <h4 len="{{ comments|length }}"> COMMENTS({{comments|length}}) </h4>
 		        <ul>
 		        {% for comment in comments %}
 		        <li>
 		            <div class="comment-avatar">
 		                <img src="/static/images/head.png" width=75 height=75>
 		            </div>
 		            <div class="comment-meta">
 		                <h5>{{ comment.name }}</h5>
 		                <p>{{ comment.date|date:"M d Y"  }}</p>
 		            </div>
 		            <div class="comment-content">
 		                <p>{{ comment.content }}</p>
 		            </div>
 		        </li>
 		        {% endfor %}
 		        </ul>
 		    </section>
 		    {% endif %}
 		    <section class="comment-form" blogid="{{ data.id }}">
 		        <h4>LEAVE A COMMENT</h4>
 		        <p type="name">Name:*</p>
 		        <input type="text" class="comment-input ">
 		        <p type="email">E-Mail:*</p>
 		        <input type="text" class="comment-input ">
 		        <p type="website">Website:</p>
 		        <input type="text" class="comment-input ">
 		        <p type="message">Message:*</p>
 		        <textarea class="comment-text "></textarea>
 		        <p class="tips">Required fields are marked *</p>
 		        <a href="javascript:;"><span>Post Comment</span></a>
 		        <div class="loading"></div>
 		    </section>
		</div>
            </div>
             {% include 'blog-aside.html' %}
        </section>
    </div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/index.js"></script>
{% include 'tongji.html' %}
</body>
</html>



