<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Resume - Lidong's site</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/style/index.css" />
<link rel="stylesheet" type="text/css" href="/static/style/resume.css" />
<link rel="stylesheet" type="text/css" href="/static/style/common.css" />
<!--[if IE]>
<script type="text/javascript" src="/static/js/html5.js"></script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="/static/js/DD_belatedPNG.js"></script>
<script type="text/javascript" >
    DD_belatedPNG.fix('.png');
</script>
<![endif]-->
</head>
<body>
    <div class="wrapper">
        {% include "header.html" %}
        <div class="resume clearfix">
            <section class="resume-header">
                <div class="resume-header-left"></div>
                <div class="resume-header-right"></div>
                <div class="resume-logo"></div>
                <ul>
                    <li><a href="http://www.facebook.com/profile.php?id=100002293365812" target="_blank" class="facebook" title="facebook"></a></li>
                    <li><a href="https://twitter.com/lidongbest5" target="_blank" class="twitter" title="twitter"></a></li>
                </ul>
            </section>
            <section class="personal-info clearfix">
                <div class="info-main">
                    <h1></h1>
                    <h2></h2>
                </div>
                <div class="info-others">
                    <ul>
                        <li class="available"></li>
                        <li class="website"></li>
                        <li class="mobile"></li>
                        <li class="email"></li>
                    </ul>
                </div>
            </section>
            <section class="detail-info clearfix">
                <div class="statement-education">
                    <section class="statement">
                        <div class="statement-title resume-title"></div>
                        <div class="statement-detail clearfix">
                            <div class="avatar">
                                <img src="/static/images/head.jpg" width=150 height=160>
                            </div>
                            <p>I'm a Front-End Web developer of the IT world. I'm an excellent learner and believe that no pains, no gains. So, I like challenges and I will be a challenger forever. As a web developer, I am a problem solver at heart and strive to deliver the most effective solution at the highest of standards. Thank You...</p>
                        </div>
                    </section>
                    <section class="education">
                        <div class="education-title resume-title"></div>
                        <ul>
                            <li>
                               <h4>School of Software Technology</h4>
                               <h5>Dalian University of Technology - LiaoNing, China</h5>
                               <p>Studying all aspect of Software Technology Including Data Structures and Algorithms, Database Systems, Operating Systems, UML, Software Engineering, Computer Network, C Programming, C+ + Programming, Java Programming, Network Programming, Information Security Technology, Communication Theory</p>
                               <div class="education-date">2008 - 2012</div> 
                            </li>
                            <li>
                               <h4>Yangquan No.11 Middle School</h4>
                               <h5>ShanXi, China</h5>
                               <p>Studying all aspect of the Basic Knowledge Including Chinese, Math, English, Physical, Chemistry, Biological, History, Geography</p>
                               <div class="education-date">2002 - 2008</div> 
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="skill-experience">
                    <section class="skill">
                        <div class="skill-title resume-title"></div>
                        <ul>
                            <li>
                                <span class="skill-name">CSS&HTML</span>
                                <span class="skill-whole"><span class="skill-rate htmlcss"></span></span>
                            </li>
                             <li>
                                <span class="skill-name">Javascript</span>
                                <span class="skill-whole"><span class="skill-rate javascript"></span></span>
                            </li>
                             <li>
                                <span class="skill-name">HTML5&CSS3</span>
                                <span class="skill-whole"><span class="skill-rate html5css3"></span></span>
                            </li>
                             <li>
                                <span class="skill-name">Python(Django)</span>
                                <span class="skill-whole"><span class="skill-rate python"></span></span>
                            </li>
                             <li>
                                <span class="skill-name">PHP(Codeigniter)</span>
                                <span class="skill-whole"><span class="skill-rate php"></span></span>
                            </li>
                            <li>
                                <span class="skill-name">CMS(dedecms)</span>
                                <span class="skill-whole"><span class="skill-rate cms"></span></span>
                            </li>
                            <li>
                                <span class="skill-name">LINUX(CentOS)</span>
                                <span class="skill-whole"><span class="skill-rate linux"></span></span>
                            </li>
                            <li>
                                <span class="skill-name">Photoshop</span>
                                <span class="skill-whole"><span class="skill-rate photoshop"></span></span>
                            </li>
                        </ul>
                    </section>
                    <section class="experience">
                        <div class="experience-title resume-title"></div>
                        <ul>
                            <li>
                                                           <h4>Sohu Inc</h4>
                                                                                          <h5>Media Design and Technology Center - Beijing, China</h5>
                                                                                                                         <p>Developing SOHU Kuaizhan,SOHU response type website,SOHU mobile comment system,SOHU svip system as the front-end leader. And also learn Python(based on Django) and Mysql to develop some websites and projects.</p>
                                                                                                                                                        <div class="experience-date">Mar 2013 - Now</div> 
                                                                                                                                                                                    </li>
                            <li>
                               <h4>Renren Inc</h4>
                               <h5>Social Networking Services - Beijing, China</h5>
                               <p>Developing the new and basic product which called Social Wiki of Renren as a front-end web developer. The Social Wiki including movie, place, book and game is based on User Generated Content and it is closely related to all products of Renren.I am the front-end leader of this product and have done all aspect of the front-end work of Social Wiki.</p>
                               <div class="experience-date">Jun 2012 - Mar 2013</div> 
                            </li>
                            <li>
                               <h4>Startup team</h4>
                               <h5>Web App - Beijing, China</h5>
                               <p>Developing Web App and also a small acount of Mobile App. This Apps are based on Q+ open platform, 360 open platform, Baidu open platform, Weibo open platform. We use CMS to produce Apps and this CMS is developed by me.Our team has only five people and I am the only front-end web developer.So I can handle all aspect of front-end works and be a quick learner.</p>
                               <div class="experience-date">Aug 2011 - May 2012</div> 
                            </li>
                        </ul>
                    </section>
                </div>
            </section>
            <section class="portfolio clearfix">
                <div class="portfolio-title resume-title"></div>
                	<li><a href="http://kuaizhan.com" target="_blank" title="搜狐快站"><img src="/static/images/kuaizhan.gif" width=110 height=110></a></li>
                	<li><a href="http://news.sohu.com/20140224/n395557599_m.shtml" target="_blank" title="搜狐多屏版"><img src="/static/images/sohu.gif" width=110 height=110></a></li>
                	<li><a href="http://www.edco.cn" target="_blank" title="EDCO官网"><img src="/static/images/edco.gif" width=110 height=110></a></li>
                	<li><a href="http://f1.sohu.com/s2013/game/" target="_blank" title="搜狐赛车竞猜游戏"><img src="/static/images/f1.gif" width=110 height=110></a></li>
                	<li><a href="http://sports.sohu.com/upload/sports-live/index.html?1234" target="_blank" title="搜狐体育新版图文直播间"><img src="/static/images/zhibo.gif" width=110 height=110></a></li>
			<li class="last"><a href="http://wiki.renren.com" target="_blank" title="人人印象"><img src="/static/images/yinxiang.png" width=110 height=110></a></li>
                	<li><a href="http://wiki.renren.com/mymovie" target="_blank" title="人人电影"><img src="/static/images/dianying.png" width=110 height=110></a></li>
                	<li><a href="http://blog.renren.com/blog/template/addBlog?tempId=6" target="_blank" title="人人影评"><img src="/static/images/yingping.png" width=110 height=110></a></li>
                	<li><a href="http://meirifan.sinaapp.com/" target="_blank" title="每日范"><img src="/static/images/fan.png" width=110 height=110></a></li>
                	<li><a href="http://meirifan.sinaapp.com/wallpaper" target="_blank" title="高清壁纸杂志"><img src="/static/images/wallpaper.png" width=110 height=110></a></li>
                	<li><a href="http://lehoapp.duapp.com/apps/muying/" target="_blank" title="乐活母婴宝典"><img src="/static/images/muying.png" width=110 height=110></a></li>
                	<li class="last"><a href="http://lehoapp.duapp.com/apps/baobao/" target="_blank" title="乐活宝宝行为百科"><img src="/static/images/baobao.png" width=110 height=110></a></li>
                	<li><a href="http://lehoapp.duapp.com/apps/hunjia/" target="_blank" title="乐活婚嫁宝典"><img src="/static/images/hunjia.png" width=110 height=110></a></li>
                	<li><a href="http://lehoapp.duapp.com/apps/jiaxiangcai/" target="_blank" title="乐活那些家乡菜"><img src="/static/images/jiaxiangcai.png" width=110 height=110></a></li>
                	<li><a href="http://lehoapp.duapp.com/apps/sifangcai/" target="_blank" title="乐活私房菜"><img src="/static/images/sifangcai.png" width=110 height=110></a></li>
		</ul>
            </section>
            <section class="resume-bottom clearfix">
                <section class="whyme">
                    <div class="whyme-title resume-title"></div>
                    <ul>
                        <li>Very Good understanding of the principles of front-end web develop</li>
                        <li>Good technical skills enables me to use my knowlage of front-end web develop principles</li>
                        <li>Skilled use of office software, acquire the basic knowledge of programming</li>
                        <li>Ability to conceptualise and think visually</li>
                        <li>Ability to work within a team or alone</li>
                        <li>Ability to under great pressure</li>
                        <li>Ability to take the effective method to solve problems</li>
                    </ul>
                </section>
                <section class="contactme">
                    <div class="contactme-title resume-title"></div>
                    <div class="resume-tip"></div>
                    <div class="contactme-name"><span>Name:</span><input type="text" class="input-name" name="name"></div>
                    <div class="contactme-email"><span>Email:</span><input type="text" class="input-email" name="email"></div>
                    <div class="contactme-message"><span>Message:</span><textarea></textarea></div>
                    <a href="javascript:;">Submit</a>
                </section>
            </section>
            <div class="resume-loading"></div>
        </div>
    </div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/resume.js"></script>
{% include 'tongji.html' %}
</body>
</html>



