<footer>Copyright © 2012-2014 Li Dong.Powered by <a href="https://www.djangoproject.com/" target="_blank">django</a>.Inspired by <a href="http://pixel-industry.com/wordpress/moderna/" target="_blank">moderna</a>.</footer>
<a href="javascript:;" class="backToTop"></a>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3ef3e127711bcd455a957fe5276a7dfd' type='text/javascript'%3E%3C/script%3E"));
</script>
